
<br/>
<hr>
<h5><b>Details For Key: {{ keyValue }}</b></h5>
<table class="display table db-detail-view table-striped no-footer dataTable" id='dashboardDetailTable' cellspacing="0" width="100%">
    <thead>
        <tr>
        {% for key,value in cols %}
            <th>{{ key }}</th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
        <!-- loop through the basic array -->
        {% for k,value in basic %}
            <tr>
                <!-- loop through thekeys array -->
                {% for kc,kv in cols %}
                    <td>
                    {% if kc == 'title' and kv is not empty  %}
                        <a href="/browser/oeaw_detail/{{ attribute(value, 'id') }}" >
                            {{ attribute(value, kc) }}
                        </a>
                    {% elseif kc == 'property' %}
                        <a href="/browser/dashboard-property/{{ attribute(value, kc) }}" >
                            {{ attribute(value, kc) }}
                        </a>
                    {% elseif kc == 'type' %} 
                        {{ attribute(value, kc) }}
                    {% elseif kc == 'id' %} 
                        <a href="/browser/oeaw_detail/{{ attribute(value, kc) }}" >
                            {{ attribute(value, kc) }}
                        </a>
                    {% elseif kc == 'count' and attribute(value, 'type') %} 
                        <a href="#" id="getAttributesView" data-property="{{ key }}" data-value="{{ attribute(value, 'key') }}">{{ attribute(value, kc) }}</a>
		    {% else %}
                        <!-- use this special function to pass the field names from the keys array -->
                        {{ attribute(value, kc) }}
                    {% endif %}    
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
<br/>