
{% set module_path = _self|split('/templates') %}
{{ include(module_path[0] ~ '/templates/helper/helper-menu-button.html.twig' ) }}
{{ include(module_path[0] ~ '/templates/helper/helper-title.html.twig', {'title': key } ) }}

<table class="display table table-striped" id='db-properties' cellspacing="0" width="100%">
    <thead>
        <tr>
        {% for key,value in cols %}
            <th>{{ include(module_path[0] ~ '/templates/helper/helper-table-title.html.twig', {'title': key } ) }}</th>
	{% endfor %}
        </tr>
    </thead>
    <tbody>
        <!-- loop through the basic array -->
        {% for k,value in basic %}
            <tr>
                <!-- loop through thekeys array -->
                {% for kc,kv in cols %}
                    <td>
                    {% if kc == 'title' and kv is not empty  %}
                        {% if attribute(value, 'key') %}
                        <a href="/browser/oeaw_detail/{{ attribute(value, 'key') }}" >
                        {% elseif attribute(value, 'id') %}   
                            <a href="/browser/oeaw_detail/{{ attribute(value, 'id') }}" >
                        {% endif %}
                            {{ attribute(value, kc) }}
                        </a>
                    {% elseif kc == 'property' %}
                        <a href="/browser/{{ detailPageUrl }}/{{ attribute(value, kc) }}" >
                            {{ attribute(value, kc) }}
                        </a>
                    {% elseif kc == 'type' %} 
                        {{ attribute(value, kc) }}
                    {% elseif kc == 'id' %} 
                        <a href="/browser/oeaw_detail/{{ attribute(value, kc) }}" >
                            {{ attribute(value, kc) }}
                        </a>
                    {% elseif (kc == 'count' or kc == 'cnt') and attribute(value, 'type') and attribute(value, 'type') != 'REL' %} 
                        <a href="#" id="getAttributesView" data-property="{{ key }}" data-value="{{ attribute(value, 'key') }}">{{ attribute(value, kc) }}</a>
		    {% elseif kc == 'format' %}
                         <a href="/browser/{{ detailPageUrl }}/{{ attribute(value, kc) }}" >
                              {{ attribute(value, kc) }}
                        </a>
                    {% else %}
                        <!-- use this special function to pass the field names from the keys array -->
                        {{ attribute(value, kc) }}
                    {% endif %}    
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
  
<div id='dashboard_property_details_table_div' style='display:none'>
    <div id='dashboard_property_details_table'></div>
    <hr>
</div>
