{% set module_path = _self|split('/templates') %}
{{ include(module_path[0] ~ '/templates/helper/helper-menu-button.html.twig' ) }}

<h3>{{ "Dissemination Service Detail View"|trans }}</h3>
<input type="hidden" value="{{ data.getId() }}" name="dissId" id="dissId">
<div class="mb-3">
    <div class="dashboard-description alert alert-secondary" role="alert">
        {{ "The details of the selected Dissemination Service. Below the list contains the matching resources."|trans}}
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="row">
            <span class="col-3 font-weight-bold">{{ "ID"|trans }}:</span> 
            <span class="col-9">
                {{ data.getId() }}   
            </span>
        </div>
        <div class="row">
            <span class="col-3 font-weight-bold">{{ "Title"|trans }}:</span> 
            <span class="col-9">
                {{ data.getTitle() }}   
            </span>
        </div>
        <div class="row">
            <span class="col-3 font-weight-bold">{{ "Url"|trans }}:</span> 
            <span class="col-9">
                {{ data.getUrl() }}   
            </span>
        </div>
        <div class="row">
            <span class="col-3 font-weight-bold">{{ "Location"|trans }}:</span> 
            <span class="col-9">
                {{ data.getLocation() }}   
            </span>
        </div>
        <div class="row">
            <span class="col-3 font-weight-bold">{{ "Formats"|trans }}:</span> 
            <span class="col-9">
                {{ data.getFormats() }}   
            </span>
        </div>
        <div class="row">
            <span class="col-3 font-weight-bold">{{ "Load Params"|trans }}:</span> 
            <span class="col-9">
                {{ data.getLoadParams() }}   
            </span>
        </div>
        <div class="row">
            <span class="col-3 font-weight-bold">{{ "Description"|trans }}:</span> 
            <span class="col-9">
                {{ data.getDescription() }}   
            </span>
        </div>
        <div class="row">
            <span class="col-3 font-weight-bold">{{ "ReturnType"|trans }}:</span> 
            <span class="col-9">
                {{ data.getReturnType() }}   
            </span>
        </div>
        <div class="row">
            <span class="col-3 font-weight-bold">{{ "ServiceRevProxy"|trans }}:</span> 
            <span class="col-9">
                {{ data.getServiceRevProxy() }}   
            </span>
        </div>
        <div class="row">
            <span class="col-3 font-weight-bold">{{ "Count"|trans }}:</span> 
            <span class="col-9">
                {{ data.getCount() }}   
            </span>
        </div> 
    </div>
    {% if  data.getFilterValues().length > 0 %}
        <div class="col-12">
            <br><br>
            <div class="row">
                <h3>{{ "Dissemination Filter Values"|trans }}</h3>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">{{ "matchesProp"|trans }}</th>
                            <th scope="col">{{ "matchesValue"|trans }}</th>
                            <th scope="col">{{ "isRequired"|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for k,v in data.getFilterValues() %}
                            {% if  v.matchesProp or v.matchesValue or v.isRequired %}
                                <tr>
                                    <th scope="row">{{ k }}</th>
                                    <td>{{ v.matchesProp }}   </td>
                                    <td>{{ v.matchesValue }} </td>
                                    <td>{{ v.isRequired }}   </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    {%  else %}
        <div class="row">
            <div class="alert alert-danger" role="alert">
                <p>{{ "There are no filter values!"|trans}}</p>
            </div>
        </div>    
    {% endif %}

</div>
<br>
<hr>
<h3>Matching resources</h3>
<table id="dissserv-matching-table" class="table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Uri</th>
            <th>{{ "Title"|trans }}</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Uri</th>
            <th>{{ "Title"|trans }}</th>
        </tr>
    </tfoot>
</table>
