{% set module_path = _self|split('/templates') %}
<div class="container">
    <div class="row basic-content-div discover-content-main">

        {{ include(module_path[0] ~ '/templates/helper/helper-menu-button.html.twig' ) }}
        <h2>Summarize values by property for the given RDF Type</h2> 
        <label for="property-list"><b>Choose a property:</b></label>
        <br>
        <select name="property-list" id="property-list" >
            <option value="#">-----</option>
            {% for k,v in data %}
                <option value="{{ v.property }}">{{ v.property|replace({'%23': '#'}) }}</option>
            {% endfor %}   
        </select> 
        <br><br>
        <label for="rdftype-list"><b>Choose an RDF Type:</b></label>
        <br>
        <select name="rdftype-list" id="rdftype-list" >
            <option value="#">-----</option>
            {% for k,v in rdftype %}
                <option value="{{ v.value }}">{{ v.value|replace({'%23': '#'}) }}</option>
            {% endfor %}   
        </select> 

        <br><br>
        <div class="res-act-button res-act-button mb-3">
            <a href="#" id="valuesByPropertyBtn">Get the Data</a>
        </div>

        <table id="values-by-property-table" class="table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>{{ "Type"|trans }}</th>
                    <th>{{ "Keyword"|trans }}</th>
                    <th width="15%">{{ "Count"|trans }}</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>{{ "Type"|trans }}</th>
                    <th>{{ "Keyword"|trans }}</th>
                    <th width="15%">{{ "Count"|trans }}</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

